SoftRhWeb/SoftRhBaseBO/Connected Services/Servicios/CuponWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="softrh.services" targetNamespace="softrh.services" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarCupon" type="tns:eliminarCupon" />
  <xs:element name="eliminarCuponResponse" type="tns:eliminarCuponResponse" />
  <xs:element name="insertarCupon" type="tns:insertarCupon" />
  <xs:element name="insertarCuponResponse" type="tns:insertarCuponResponse" />
  <xs:element name="listarCuponesTodos" type="tns:listarCuponesTodos" />
  <xs:element name="listarCuponesTodosResponse" type="tns:listarCuponesTodosResponse" />
  <xs:element name="modificarCupon" type="tns:modificarCupon" />
  <xs:element name="modificarCuponResponse" type="tns:modificarCuponResponse" />
  <xs:element name="obtenerCuponPorId" type="tns:obtenerCuponPorId" />
  <xs:element name="obtenerCuponPorIdResponse" type="tns:obtenerCuponPorIdResponse" />
  <xs:complexType name="eliminarCupon">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCuponResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCupon">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:dateTime" />
      <xs:element minOccurs="0" name="arg4" type="xs:dateTime" />
      <xs:element minOccurs="0" name="arg5" type="tns:trabajador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trabajador">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="fechaIngreso" type="xs:dateTime" />
          <xs:element minOccurs="0" name="horarioFin" type="tns:localTime" />
          <xs:element minOccurs="0" name="horarioInicio" type="tns:localTime" />
          <xs:element minOccurs="0" name="puesto" type="xs:string" />
          <xs:element minOccurs="0" name="sueldo" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="modificarCuponResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCuponesTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCuponesTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cupon" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cupon">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="trabajador" type="tns:trabajador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCuponPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCuponPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cupon" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCupon">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:dateTime" />
      <xs:element minOccurs="0" name="arg3" type="xs:dateTime" />
      <xs:element minOccurs="0" name="arg4" type="tns:trabajador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCuponResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>