Front/RHStoreWS/RHStoreBaseBO/Connected Services/ServiciosWeb/PromocionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="softrh.services" targetNamespace="softrh.services" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarPromocion" type="tns:eliminarPromocion" />
  <xs:element name="eliminarPromocionResponse" type="tns:eliminarPromocionResponse" />
  <xs:element name="insertarPromocion" type="tns:insertarPromocion" />
  <xs:element name="insertarPromocionResponse" type="tns:insertarPromocionResponse" />
  <xs:element name="listarPromocionesPorNombreDescripcion" type="tns:listarPromocionesPorNombreDescripcion" />
  <xs:element name="listarPromocionesPorNombreDescripcionResponse" type="tns:listarPromocionesPorNombreDescripcionResponse" />
  <xs:element name="listarPromocionesTodas" type="tns:listarPromocionesTodas" />
  <xs:element name="listarPromocionesTodasResponse" type="tns:listarPromocionesTodasResponse" />
  <xs:element name="modificarPromocion" type="tns:modificarPromocion" />
  <xs:element name="modificarPromocionResponse" type="tns:modificarPromocionResponse" />
  <xs:element name="obtenerPromocionPorId" type="tns:obtenerPromocionPorId" />
  <xs:element name="obtenerPromocionPorIdResponse" type="tns:obtenerPromocionPorIdResponse" />
  <xs:complexType name="obtenerPromocionPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPromocionPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:promocion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="promocion">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idPromocion" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoPromocion" />
      <xs:element minOccurs="0" name="trabajador" type="tns:trabajador" />
      <xs:element minOccurs="0" name="valorDescuento" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trabajador">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="fechaIngreso" type="xs:dateTime" />
          <xs:element minOccurs="0" name="horarioFin" type="xs:string" />
          <xs:element minOccurs="0" name="horarioInicio" type="xs:string" />
          <xs:element minOccurs="0" name="puesto" type="xs:string" />
          <xs:element minOccurs="0" name="sueldo" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPromocion">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPromocionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPromocionesPorNombreDescripcion">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPromocionesPorNombreDescripcionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:promocion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPromocion">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:double" />
      <xs:element minOccurs="0" name="arg3" type="tns:tipoPromocion" />
      <xs:element minOccurs="0" name="arg4" type="xs:dateTime" />
      <xs:element minOccurs="0" name="arg5" type="xs:dateTime" />
      <xs:element minOccurs="0" name="arg6" type="tns:trabajador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPromocionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPromocionesTodas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPromocionesTodasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:promocion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPromocion">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:double" />
      <xs:element minOccurs="0" name="arg4" type="tns:tipoPromocion" />
      <xs:element minOccurs="0" name="arg5" type="xs:dateTime" />
      <xs:element minOccurs="0" name="arg6" type="xs:dateTime" />
      <xs:element minOccurs="0" name="arg7" type="tns:trabajador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPromocionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoPromocion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Porcentaje" />
      <xs:enumeration value="MontoFijo" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>