Front/RHStoreWS/RHStoreBaseBO/Connected Services/ServiciosWeb/PromocionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="softrh.services" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PromocionWS" targetNamespace="softrh.services" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftRHWS/PromocionWS?xsd=1" namespace="softrh.services" />
    </xsd:schema>
  </types>
  <message name="eliminarPromocion">
    <part name="parameters" element="tns:eliminarPromocion" />
  </message>
  <message name="eliminarPromocionResponse">
    <part name="parameters" element="tns:eliminarPromocionResponse" />
  </message>
  <message name="insertarPromocion">
    <part name="parameters" element="tns:insertarPromocion" />
  </message>
  <message name="insertarPromocionResponse">
    <part name="parameters" element="tns:insertarPromocionResponse" />
  </message>
  <message name="modificarPromocion">
    <part name="parameters" element="tns:modificarPromocion" />
  </message>
  <message name="modificarPromocionResponse">
    <part name="parameters" element="tns:modificarPromocionResponse" />
  </message>
  <message name="obtenerPromocionPorId">
    <part name="parameters" element="tns:obtenerPromocionPorId" />
  </message>
  <message name="obtenerPromocionPorIdResponse">
    <part name="parameters" element="tns:obtenerPromocionPorIdResponse" />
  </message>
  <message name="listarPromocionesTodas">
    <part name="parameters" element="tns:listarPromocionesTodas" />
  </message>
  <message name="listarPromocionesTodasResponse">
    <part name="parameters" element="tns:listarPromocionesTodasResponse" />
  </message>
  <portType name="PromocionWS">
    <operation name="eliminarPromocion">
      <input wsam:Action="softrh.services/PromocionWS/eliminarPromocionRequest" message="tns:eliminarPromocion" />
      <output wsam:Action="softrh.services/PromocionWS/eliminarPromocionResponse" message="tns:eliminarPromocionResponse" />
    </operation>
    <operation name="insertarPromocion">
      <input wsam:Action="softrh.services/PromocionWS/insertarPromocionRequest" message="tns:insertarPromocion" />
      <output wsam:Action="softrh.services/PromocionWS/insertarPromocionResponse" message="tns:insertarPromocionResponse" />
    </operation>
    <operation name="modificarPromocion">
      <input wsam:Action="softrh.services/PromocionWS/modificarPromocionRequest" message="tns:modificarPromocion" />
      <output wsam:Action="softrh.services/PromocionWS/modificarPromocionResponse" message="tns:modificarPromocionResponse" />
    </operation>
    <operation name="obtenerPromocionPorId">
      <input wsam:Action="softrh.services/PromocionWS/obtenerPromocionPorIdRequest" message="tns:obtenerPromocionPorId" />
      <output wsam:Action="softrh.services/PromocionWS/obtenerPromocionPorIdResponse" message="tns:obtenerPromocionPorIdResponse" />
    </operation>
    <operation name="listarPromocionesTodas">
      <input wsam:Action="softrh.services/PromocionWS/listarPromocionesTodasRequest" message="tns:listarPromocionesTodas" />
      <output wsam:Action="softrh.services/PromocionWS/listarPromocionesTodasResponse" message="tns:listarPromocionesTodasResponse" />
    </operation>
  </portType>
  <binding name="PromocionWSPortBinding" type="tns:PromocionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarPromocion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPromocion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPromocion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPromocionPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPromocionesTodas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PromocionWS">
    <port name="PromocionWSPort" binding="tns:PromocionWSPortBinding">
      <soap:address location="http://localhost:8080/SoftRHWS/PromocionWS" />
    </port>
  </service>
</definitions>