RHStoreWS/RHStoreBaseBO/Connected Services/ServiciosWeb/UsuarioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="softrh.services" targetNamespace="softrh.services" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="verificarIngresoUsuario" type="tns:verificarIngresoUsuario" />
  <xs:element name="verificarIngresoUsuarioResponse" type="tns:verificarIngresoUsuarioResponse" />
  <xs:complexType name="verificarIngresoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarIngresoUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>